#contenedor{
width: 1200px;
height: 1250px;

max-width: 0 auto;
}
#encabezado{
    height: 15%;
    background-color: rgb(0, 103, 137);
    margin: 1em auto;
    text-align: center;
}

#Menu{
    height: 5%;
    background-color: aqua;
    margin: 1em auto;
    float:center;
}


/* selector universal */
*{
    padding: 0 auto;
    margin: 0 auto;
}


#seccion   {
    width: 60%;
    height: 70%;
    margin: 0.5em;
    float: left;
    background-color: rgb(149, 195, 200);
}


#fueraSeccion{
    width: 35%;
    height: 50%;
    background-color: azure;
    float: right;
    margin: 0.5em;
}


#pie{
    height: 5%;
    background-color: rgb(248, 69, 188);
    border-radius: 1em;
    margin: 1.5em;
    
}
/*selector de clase*/


.texto{
    text-align: justify;
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-left: 15px;
    margin-right: 15px;
}


.encabezado_articulo{
    text-align: center;
    background-color: rgb(117, 150, 83);
    margin: auto 2em;
}


.imagenes{
    display: block;
    border: 1px solid slateblue;
    margin-left: 4%;
    width: 450px;
}


/*selector tipo etiqueta*/
ul{
    text-align: center;

}
li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
}

